.motto {
  margin: 0 10px;

  h1, h3, h5 {
    color: #fff;
  }
}

.social-links {
  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      padding: 5px 10px;
    }

    li > a > i {
      font-size: 2rem;
    }

    li > a > img {
      height: 32px;
      vertical-align: bottom;
      
      &.hover {
        display: none;
      }

      &.default {
        display: inline;
      }
    }

    li > a:hover {
      .hover {
        display: inline;
      }

      .default {
        display: none;
      }
    }
  }
}